gensim==3.8.3
gym==0.23.1
huggingface==0.0.1
imageio==2.16.2
keras==2.8.0
nltk==3.6.6
pandas==1.4.2
pillow==9.1.1
pygame==2.1.2
scikit-image==0.19.2
seaborn==0.11.2
smart-open==5.2.1
tensorboard-data-server==0.6.1
tensorflow-datasets==4.4.0
tensorflow-hub==0.12.0
tensorflow-text==2.8.1
tensorflow==2.8.1
tensorboard==2.8.0
tokenizers==0.13.3
torchinfo==0.0.8
tqdm==4.62.3
transformers==4.30.0
