gensim==3.8.3
huggingface==0.0.1
matplotlib
nltk==3.5
numpy==1.22.0
opencv-python==4.5.1.48
Pillow==10.3.0
scikit-learn
scipy
torch==1.13.1
torchaudio==0.8.1
torchinfo==0.0.8
torchtext==0.9.1
torchvision==0.9.1
transformers==4.38.0