gensim>=4.3.0,<5
huggingface==0.0.1
matplotlib
nltk==3.10.0
numpy==1.22.0
opencv-python==4.8.1.78
Pillow==12.2.0
scikit-learn
scipy
torch==2.12.1
torchaudio==0.8.1
torchinfo==0.0.8
torchtext==0.9.1
torchvision==0.9.1
transformers==5.10.1