gensim
gym
huggingface
imageio
keras
nltk
pandas
pillow
pygame
scikit-image
seaborn
smart-open
tensorboard-data-server
tensorflow-datasets
tensorflow-hub
tensorflow-text
tensorflow
tensorboard
tokenizers
torchinfo
tqdm
transformers
