gensim==4.3.3 
gym==0.26.2
huggingface==0.0.1
imageio==2.35.0
keras==3.13.2
nltk==3.9.3
pandas==2.0.3
pillow==12.1.1
pygame==2.6.0
scikit-image==0.21.0
seaborn==0.13.2
smart-open==7.0.4
tensorboard-data-server==0.7.2
tensorflow-datasets==4.9.2
tensorflow-hub==0.16.1
tensorflow-text==2.13.0
tensorflow==2.13.1
tensorboard==2.13.0
tokenizers==0.19.1
torchinfo==1.8.0
tqdm==4.66.5
transformers==4.53.0
